<!-- <nav style="background-color: darkblue !important" class="navbar navbar-expand-lg navbar-light bg-light">  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <form class="form-inline my-2 my-lg-0">  
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="Logout()">Logout</button>  
      </form>  
    </div>  
  </nav> -->
 
<section class="view intro-2">
  <!-- <button class="btn btn-outline-success my-2 my-sm-0" style="float: right;" (click)="Logout()">Logout</button> -->
  <mat-tab-group mat-align-tabs="end" title="Welcome To Givandan">
    <mat-tab label="Survey Form">
      <app-dashboard></app-dashboard>
    </mat-tab>
    <mat-tab label="About Us"><app-about-us></app-about-us></mat-tab><br>
  </mat-tab-group>
  
</section>