
<section class="team-section text-center my-5">

    <!-- Section heading -->
    <h1 class="h1-responsive font-weight-bold my-5">Our amazing team</h1>
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Vatsalya Nayak</h5>
        <p class="text-uppercase blue-text">
          <strong>Data Science</strong>
        </p>
        <p class="grey-text">Description.</p><br>
        <a [href]="githubUrl" target="_blank">
            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_six_color-32.png" alt="" matTooltip="Github"
             matTooltipPosition="above">
        </a>
        <a [href]="facebookUrl" target="_blank">
            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-16-32.png" alt="" matTooltip="Facebook" matTooltipPosition="above">
        </a>
        <a [href]="linkedinUrl" target="_blank">
            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png" alt="" matTooltip="LinkedIn" matTooltipPosition="above">
        </a>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Hiren Rathod</h5>
        <p class="text-uppercase blue-text">
          <strong>Web developer</strong>
        </p>
        <p class="grey-text">Description.</p><br>
        <a [href]="githubUrlHiren" target="_blank">
            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_six_color-32.png" alt="" matTooltip="Github"
             matTooltipPosition="above">
        </a>
        <a [href]="facebookUrl" target="_blank">
            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-16-32.png" alt="" matTooltip="Facebook" matTooltipPosition="above">
        </a>
        <a [href]="linkedinUrlHiren" target="_blank">
            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png" alt="" matTooltip="LinkedIn" matTooltipPosition="above">
        </a>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Soumonos Mukherji</h5>
        <p class="text-uppercase blue-text">
          <strong>Data Science</strong>
        </p>
        <p class="grey-text">Description.</p><br>
        <a [href]="githubUrl" target="_blank">
            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_six_color-32.png" alt="" matTooltip="Github"
             matTooltipPosition="above">
        </a>
        <a [href]="facebookUrl" target="_blank">
            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-16-32.png" alt="" matTooltip="Facebook" matTooltipPosition="above">
        </a>
        <a [href]="linkedinUrl" target="_blank">
            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png" alt="" matTooltip="LinkedIn" matTooltipPosition="above">
        </a>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1"
            alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Tilak Jethva</h5>
        <p class="text-uppercase blue-text">
          <strong>Backend developer</strong>
        </p>
        <p class="grey-text">Description.</p><br>
        <a [href]="githubUrl" target="_blank">
            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_six_color-32.png" alt="" matTooltip="Github"
             matTooltipPosition="above">
        </a>
        <a [href]="facebookUrl" target="_blank">
            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-16-32.png" alt="" matTooltip="Facebook" matTooltipPosition="above">
        </a>
        <a [href]="linkedinUrl" target="_blank">
            <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png" alt="" matTooltip="LinkedIn" matTooltipPosition="above">
        </a>
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
