<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="view intro-2">
<div class="div">
<div class="container" style="padding-top:60px;">

    <div class="row">  
        <div class="col-md-6 mx-auto">  
            <div class="card-group">
                <div class="card p-4"> 
                    <div class="card-body"> 
                        <img src="assets/images/epita.png" alt="image" style="height: 9em;width: 13em;float: left;"/> 
                        <img src="assets/images/giv.png" alt="image" style="height: 9em;width: 9em;float: right;"/> 
                        <form name="form" [formGroup]="LoginForm">  
                            <div style="padding-top: 20px;" class="input-group mb-3">  
                                
                                <input type="email" required name="UserName" [(ngModel)]='users.email' class="form-control sty1 hvr-overline-reveal" placeholder="Email"  
                                formControlName="Email" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }"/>
                            </div>  
                            <div class="input-group mb-4">   
                                <input type="password" required name="Password" [(ngModel)]='users.password' 
                                class="form-control" placeholder="Password"
                                formControlName="Pass"
                                [ngClass]="{ 'is-invalid': submitted && f.Pass.errors }" >  
                                
                            </div>   
                            <div class="row">  
                                <div class="col-6">  
                                    <button (click)="LogInFunc()" type="submit" class="btn btn-block btn-outline-success">Login</button>  
                                </div>
                                <div class="col-6 text-right"> 
                                    <button type="button" class="btn btn-link px-0" (click)="GoToRegester()">New User?</button> 
                                </div>  
                                <hr style="border-top: 2px solid black;"> 
                                <img class="Logo" src="assets/images/km.png" alt="image"/>
                            </div>  
                        </form>        
                    </div>  
                </div>  
            </div>  
        </div>  
    </div> 
</div>  
</div>
</section>