
<form #reccomendresult ="ngForm">
	<mat-card class="example-card">
	  <mat-card-header>
		<mat-card-title>Reccommended Purfumes that Match Your Personality</mat-card-title>
	  </mat-card-header>
	  <mat-card-content>
		<div *ngFor="let val of categorys">
			<div class="container" *ngIf="val.type === category.type" >
				<ol *ngFor="let citrus of val.scents" >
					<li><img [src]="citrus.image" style="height: 130px;width: 120px;" /></li>
				</ol>
			</div>
		</div>
		</mat-card-content>
	</mat-card>
</form>