.example-card {
    width: 500px;
    height: 650px;
  }
  .Logo {
    height: 15em;
    width: 15m;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
.box{position:relative;top:0;opacity:1;float:left;padding:60px 50px 40px 50px;width:600px;background:#fff;border-radius:10px;transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1);z-index:5;max-width:330px;}

.login-wrapper .example-form{min-width:100%;max-width:300px;width:100%;}
.login-wrapper .example-full-width,.login-wrapper .btn-block{width:100%;}
.login-wrapper mat-card-header{text-align:center;width:100%;display:block;font-weight:700;}
.login-wrapper mat-card-header mat-card-title{font-size:30px;margin:0;}
.login-wrapper .mat-card{padding:40px 70px 50px;}
.login-wrapper .mat-stroked-button{border:1px solid currentColor;line-height:54px;background:#FFF7FA;}
.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix{padding:0.8375em 0;}

.intro-2{
  background: url("/assets/images/bg-01.jpg")repeat center center;
  background-color: black;
  background-size: cover;
}
.view {
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Logo {
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-block {
  font-size: x-large;
}